<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">ArCalc</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vat-calculator">VAT Calculator</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/nssf-calculator">NSSF Calculator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/loan-calculator">Loan Calculator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <h2 class="my-4">VAT Calculator</h2>

  <div class="accordion">
    <button class="accordion-button" (click)="toggleAccordion()">VAT Rates and General Info</button>
    <div class="accordion-content" *ngIf="showAccordion">
      <p>{{ response.vatInfo }}</p>
    </div>
  </div>

  <form [formGroup]="vatForm" (ngSubmit)="calculateVat()">
    <div class="row g-3">
      <div class="col-md-4">
        <label for="amount-input" class="form-label">Amount:</label>
        <input type="number" id="netAmount" class="form-control" formControlName="netAmount">
      </div>
    </div>

    <div class="text-center mt-3">
      <button type="submit" class="btn btn-primary">Calculate</button>
    </div>
  </form>

  <div class="row mt-4" *ngIf="response">
    <div class="col-md-4">
      <h5>Taxable Amount:</h5>
      <p>{{ response.taxableAmount }}</p>
    </div>
    <div class="col-md-4">
      <h5>VAT Rate:</h5>
      <p>{{ response.vatRate }}</p>
    </div>
    <div class="col-md-4">
      <h5>VAT Amount:</h5>
      <p>{{ response.vatAmount }}</p>
    </div>
    <div class="col-md-4">
      <h5>Total Amount:</h5>
      <p>{{ response.totalAmount }}</p>
    </div>
  </div>

  <div class="mt-5">
    <h3>How to Use the Calculator</h3>
    <p>
      This VAT Calculator allows you to calculate the Gross Pay, VAT Amount, and Total Amount based on the given
      taxable amount, rate, and VAT type.
    </p>
    <p>
      Enter the amount and rate in the respective input fields. Select the VAT type (VAT Added or VAT Included) from
      the dropdown. Click the "Calculate" button to perform the calculation. The results will be displayed below.
    </p>
  </div>
</div>

<footer class="bg-dark text-light text-center py-3 mt-5">
  <p>&copy; 2023 Your Company. All rights reserved.</p>
</footer>
