<div class="homepage">
    <h2>Welcome </h2>
    <div class="calculator-card">
      <div class="calculator-info">
        <h3>VAT Calculator</h3>
        <p>Calculate VAT, net price, and total price based on an amount and VAT rate.</p>
      </div>
      <button routerLink="/vat-calculator">Go to VAT Calculator</button>
    </div>
    <div class="calculator-card">
      <div class="calculator-info">
        <h3>NSSF Calculator</h3>
        <p>Calculate NSSF contributions, employee gross pay, and employee net pay based on gross pay.</p>
      </div>
      <button routerLink="/nssf-calculator">Go to NSSF Calculator</button>
    </div>
  </div>
  